<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Завантажити аудіозапис телефонної розмови</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<%- include('./partials/nav.ejs') %>
  <div class="container">
    <h1 >Завантажити аудіозапис телефонної розмови</h1>
    <form class="form1" action="/upload-audio/<%= studentId %>" method="post" enctype="multipart/form-data">
        <input type="file" name="audioFile" accept="audio/*">
        <button class="btn btn-del" type="submit">Завантажити запис</button>
    </form>

    <% if (audios && audios.length > 0) { %>
        <% audios.forEach(function(audio) { %>
            <div class="audio-container">
              <div class="audio-player-container">
                <audio controls>
                  <source src="/audio/<%= audio._id %>" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
              <div class="transcription-container">
                <h2>Транскрипція</h2>
                <p><%= audio.transcription %></p>
                <span>Завантажено: <%= new Date(audio.createdAt).toLocaleDateString("uk-UA") %></span>
              </div>
              <div class="button-container">
                <button onclick="deleteAudio('<%= audio._id %>')" class="btn btn-del">Видалити запис</button>
              </div>
            </div>
          <% }); %>
    <% } else { %>
      <p class="p-center">Не знайдено жодного запису</p>
    <% } %>
  </div>

  <script>
    function deleteAudio(audioId) {
  fetch(`/audio/${audioId}`, {
    method: 'DELETE'
  })
  .then(response => response.json())
  .then(data => {
    alert(data.message);
    window.location.reload();
  })
  .catch(error => console.error('Error:', error));
}

      document.getElementById('uploadForm').addEventListener('submit', function(event) {
          event.preventDefault(); 
          const formData = new FormData(this);
          fetch(this.action, {
              method: 'POST',
              body: formData,
          })
          .then(response => {
              if (response.ok) {
                  return response.json(); 
              }
              throw new Error('Network response was not ok.');
          })
          .then(data => {

              console.log('Success:', data);
              alert('File uploaded successfully!');
              window.location.reload(); 
          })          
      });
  </script>
</body>
</html>
