<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email History</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="email-container">
    <ul class="email-list">
      <% messages.forEach(message => { %>
        <li class="email-item common-container <%= message.payload.headers.find(header => header.name === 'From').value.includes('mvolivach2003@gmail.com') ? 'sent' : '' %>">
          <div class="email-content">
            <div class="common-header">
              <span>Дата: <%= new Date(parseInt(message.internalDate)).toLocaleString() %></span>
              <strong>Тема: <%= message.payload.headers.find(header => header.name === 'Subject').value %></strong>
            </div>
            <div class="common-body">
              <div>Від: <%= message.payload.headers.find(header => header.name === 'From').value %></div>
              <div>Текст повідомлення: <%= message.snippet %></div>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
