<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
  <%- include('partials/nav'); -%>
  <div class="container mt-5">
    <h2>Додати нагадування</h2>
    <form action="/students/<%= studentId %>/reminders/add" method="POST" class="bg-white p-4 rounded shadow-sm">
      <div class="mb-3">
        <label for="description" class="form-label">Опис:</label>
        <input type="text" id="description" name="description" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="reminderDate" class="form-label">Дата нагадування:</label>
        <input type="datetime-local" id="reminderDate" name="reminderDate" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-del">Додати</button>
    </form>

    <% if (reminders.length > 0) { %>
      <h2 class="mt-5">Наявні нагадування</h2>
      <ul class="list-unstyled mt-3">
        <% reminders.forEach(function(reminder) { %>
          <li class="card mb-3">
            <div class="card-body">
              <p class="card-text"><strong>Опис:</strong> <%= reminder.description %></p>
              <p class="card-text"><strong>Дата:</strong>
              <%= new Date(reminder.reminderDate).toLocaleDateString('uk-UA', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',             
              }) %></p>
              <p class="card-text"><strong>Статус:</strong> <%= reminder.isCompleted ? 'Завершено' : 'В очікуванні' %></p>
              <div class="d-flex justify-content-between">
                <button onclick="toggleCompleteReminder('<%= studentId %>', '<%= reminder._id %>', '<%= reminder.isCompleted %>')" class="btn btn-del">
                  <%= reminder.isCompleted ? 'Позначити незавершеним' : 'Позначити завершеним' %>
                </button>
                <button onclick="deleteReminder('<%= studentId %>', '<%= reminder._id %>')" class="btn btn-del">Видалити запис</button>
              </div>
            </div>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <h2 class="mt-5">Нема нагадувань</h2>
    <% } %>
    <a href="/students" class="btn btn-del">Повернутись назад</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  
  <script>
    function toggleCompleteReminder(studentId, reminderId, isCompleted) {
      isCompleted = (isCompleted === 'true'); // Convert string back to boolean
      fetch(`/students/${studentId}/reminders/${reminderId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ isCompleted: !isCompleted }),
      })
      .then(response => {
        if (response.ok) {
          window.location.reload();
        } else {
          alert('Failed to update reminder status');
        }
      })
      .catch(error => console.error('Error:', error));
    }

    function deleteReminder(studentId, reminderId) {
      fetch(`/students/${studentId}/reminders/${reminderId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => {

          window.location.reload();
   
      })
      .catch(error => console.error('Error:', error));
    }
  </script>
</body>
</html>
