<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- Include Font Awesome -->

    <link rel="stylesheet" href="/styles.css">
    <style>
  
  @media (max-width: 1000px) {
        .btn-group {
          flex-direction: column;
          align-items: center; /* Center buttons vertically */
        }

        .btn-group .btn {
          width: 100%;
          margin-bottom: 10px;
          height: 50px;
          border-radius: 0; /* Remove rounded corners */
        }
      }
    </style>
  </head>
  
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-5">
      <article class="post card">
        <div class="card-body">
          <div class="info mb-4">
            <h4 class="card-title">Студент: <%= student.surname %> <%= student.name %> <%= student.patronymic %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><span><%= student.createdAt.toLocaleDateString() || 'No date' %></span></h6>
          </div>
          <p><strong>Номер телефону:</strong> <%= student.phone %></p>
          <p><strong>Email:</strong> <%= student.email %></p>
          <p><strong>Група:</strong> <%= student.group %></p>
          <p><strong>Курс:</strong> <%= student.course %></p>
          <p><strong>Кількість н/a за семестр:</strong> <%= student.certifications %></p>
          <div class="btn-group d-flex" role="group" aria-label="Student actions">
            <button onclick="window.location.href='/edit/<%= student.id %>'" class="btn btn-bor">
              <i class="fas fa-edit"></i> Редагувати
            </button>
            <button class="btn btn-bor btn-de" onclick="deleteStudent('<%= student.id %>')">
              <i class="fas fa-trash-alt"></i> Видалити
            </button>
            <button onclick="fetchEmail('<%= student.email %>')" class="btn btn-bor">
              <i class="fas fa-envelope"></i> Історія комунікацій через Gmail
            </button>
            <button onclick="window.location.href='/telegram/<%= student.id %>'" class="btn btn-bor">
              <i class="fas fa-paper-plane"></i> Історія комунікацій у Telegram
            </button>
            <button onclick="window.location.href='/audioVoice/<%= student.id %>'" class="btn btn-bor">
              <i class="fas fa-microphone"></i> Історія телефонних розмов
            </button>
          </div>
        </div>
      </article>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('click', (e) => {
        if (e.target.dataset.id && e.target.closest('.btn-delete')) {
          deleteStudent(e.target.dataset.id);
        }
      });

      function deleteStudent(id) {
        fetch(`/students/${id}`, { method: 'DELETE' })
          .then(() => { window.location.href = '/students'; })
          .catch(err => console.error('Error:', err));
      }

      function fetchEmail(email) {
        window.location.href = `/emails?email=${email}`;
      }
    </script>
  </body>
</html>
