<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat History</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container mt-5">
    <h1>Upload Folder with Files</h1>
    <form id="uploadForm" enctype="multipart/form-data" class="common-container">
      <label for="files" class="form-label">Files:</label>
      <input type="file" id="files" name="files" webkitdirectory multiple class="form-control mb-3">
      <button type="submit" class="btn btn-primary">Upload Files</button>
    </form>
    
    <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
      <h2 class="mt-4" id="historyHeader">Message History</h2>
      <div id="messagesContainer" class="chat-container">
        <% messages.forEach(function(message) { %>
          <div class="chat-message common-container">
            <div class="common-header">
              <strong><%= message.fromName %></strong>
              <span><%= message.date %></span>
            </div>
            <div class="common-body">
              <div><%= message.text %></div>
              <% if (message.photos && message.photos.length > 0) { %>
                <div class="photo-container mt-3">
                  <% message.photos.forEach(function(photo) { %>
                    <div class="photo common-container mb-3">
                      <a href="<%= photo.href %>">
                        <img src="<%= photo.src %>" class="img-fluid" alt="photo">
                      </a>
                    </div>
                  <% }); %>
                </div>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>
  </div>
  
  <script>
    document.getElementById('uploadForm').addEventListener('submit', function(e) {
      e.preventDefault();
      const filesInput = document.getElementById('files');

      const pathArray = window.location.pathname.split('/');
      const studentId = pathArray[pathArray.length - 1];

      const formData = new FormData();
      for (let i = 0; i < filesInput.files.length; i++) {
        formData.append('files', filesInput.files[i]);
      }

      fetch(`/upload?studentId=${studentId}`, {
        method: 'POST',
        body: formData,
      })
      .then(response => {
        if (response.ok) {
          // Refresh the page after successful upload
          window.location.reload();
        } else {
          return response.json().then(error => {
            throw new Error(error.message);
          });
        }
      })
      .catch(error => console.error('Error uploading files:', error));
    });
  </script>
</body>
</html>
